<div class="container">
    <div class="mb-4">
        <label for="categoriaSelect" class="form-label">Selecione uma Categoria:</label>
        <select class="form-select" id="categoriaSelect" (change)="onCategoriaChange($event)">
            <option value="">Escolha uma categoria</option>
            @for (categoria of tiposAtividade; track categoria) {
                <option [value]="categoria">{{categoria}}</option>
            }
        </select>
    </div>

    @if(atividadeFiltradas.length > 0){
        <div class="row">
            <h1 class="text-center">Atividades da Categoria: {{categoriaSelecionada}}</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">Descrição</th>
                        <th scope="col" class="text-center">Prioridade</th>
                        <th scope="col" class="text-center">Usuários Atribuídos</th>
                        <th scope="col" class="text-center">Data Início</th>
                        <th scope="col" class="text-center">Data Fim</th>
                    </tr>
                </thead>
                <tbody>
                    @for (atividade of atividadeFiltradas; track atividade.id){
                        <tr>
                            <th scope="row" class="text-center">{{atividade.id}}</th>
                            <td class="text-center">{{atividade.nome}}</td>
                            <td class="text-center">{{atividade.descricao}}</td>
                            <td class="text-center">{{atividade.prioridade}}</td>
                            <td class="text-center">{{getNomeUsuarios(atividade.usuarioIds)}}</td>
                            <td class="text-center">{{atividade.dataInicio | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-center">{{atividade.dataFim ? (atividade.dataFim | date: 'dd/MM/yyyy') : '-'}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }@else if(categoriaSelecionada){
        <div class="row">
            <h1 class="text-center">Nenhuma Atividade encontrada nesta categoria</h1>
        </div>
    }@else{
        <div class="row">
            <h1 class="text-center">Selecione uma categoria para visualizar suas atividades</h1>
        </div>
    }
</div>
